BASESCAN_API_KEY=your_basescan_api_key_here
VITE_BASESCAN_API_KEY=your_basescan_api_key_here
CDP_RPC_URL=https://api.developer.coinbase.com/rpc/v1/base/YOUR_KEY
VITE_CDP_RPC_URL=https://api.developer.coinbase.com/rpc/v1/base/YOUR_KEY
PRIVATE_KEY=your_deployer_private_key_here
VITE_CORE_CONTRACT=0xF30C3ab72B1759208A1d87266023B983b7053236
VITE_GAME_CONTRACT=0x9A73654846a5F393e4edFEC6d69dfe467f7Cc469
VITE_BRIDGE_CONTRACT=0x0fa606A98eEFaF89175423d2839f43d967eaEC54
VITE_WALLETCONNECT_PROJECT_ID=your_walletconnect_project_id
VITE_COINGECKO_API_KEY=
REPORT_GAS=false
